@{
    ViewData["Title"] = "Page de contact";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" />

<h1>Présentation</h1>
<div class="personal-info">
    <div class="prenom-nom">
        <div>
            <h3>Prénom</h3>
            <p>Ibrahim</p>
        </div>
        <div>
            <h3>Nom</h3>
            <p>Awaly</p>
        </div>
    </div>
    <div class="age">
        <div>
            <h3>Date de naissance</h3>
            <p>04/09/1999</p>
        </div>
        <div>
            <h3>Âge</h3>
            <p>24 ans</p>
        </div>
    </div>
</div>
<div class="nindo">
    <h3>Nindo</h3>
    <p>"Toujours respecter sa parole de ninja"</p>
</div>
</div>
<div class="second-info">
<table>
    <tr>
        <th><b>Qualité</b></th>
        <th><b>Défaut</b></th>
    </tr>
    <tr>
        <td>Beaugosse</td>
        <td>Têtu</td>
    </tr>
    <tr>
        <td>Respectueux</td>
        <td>Parle trop</td>
    </tr>
    <tr>
        <td>Charbonneur</td>
        <td>Fainéant (quand il n'aime pas)</td>
    </tr>
    <tr>
        <td>Pas de mauvaise foi</td>
        <td>Trop charismatique</td>
    </tr>
</table>
<img src="~/img/photoDeMoi.jpg" alt="Photo de profil" class="profile-pic">

<p class="address">Rue des printemps 85, Charleroi</p>



   